<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<input type="checkbox" id="nav-toggle"/>
<div class="sidebar">
   <div class="sidebar-brand">
      <div class="user">
         <img src="../../../assets/images/badge3.png" width="70px" height="68px" alt="">
         <div>
            <h2><span>TOL UNIVERSITY</span></h2>
         </div>
      </div>
   </div>
   <!-- <div class="popups">
      <div class="row2">
         <div class="co1-lg-10">

         </div>
      </div>
   </div> -->
   <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
   Launch demo modal
 </button>
  -->
 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" routerLink="/dashboard" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
         <button type="button" routerLink="/Login" class="btn btn-dark">Yes</button>
       </div>
     </div>
   </div>
 </div>
   <div class="sidebar-menu">
      <ul>
         <li><a routerLink="/dashboard"  >
            <span><mat-icon> insert_emoticon</mat-icon></span>
            <span >Dashboard</span>
         </a></li>
         <li><a routerLink="/profile" >
            <span><mat-icon>account_circle</mat-icon></span>
            <span >Profile</span>
         </a></li>
         <li><a routerLink="/coursereg">
            <span><mat-icon>library_books</mat-icon></span>
            <span class="nav-items">Course Registration</span>
         </a></li>
         <li><a routerLink="/veiwreg">
            <span><mat-icon>event_note</mat-icon></span>
            <span class="nav-items">View Registration</span>
         </a></li>
         <li><a routerLink="/printreg">
            <span><mat-icon>print</mat-icon></span>
            <span class="nav-items">Print Registration</span>
         </a></li>
         <li><a routerLink="/biodata">
            <span><mat-icon>assignment</mat-icon></span>
            <span class="nav-items">Bio-Data</span>
         </a></li>
         <li><a routerLink="/setting">
            <span><mat-icon>settings</mat-icon></span>
            <span class="nav-items">Settings</span>
         </a></li>
         <li><a routerLink="/login">
            <span><mat-icon>last_page</mat-icon></span>
            <span routerLink="/login" class="nav-items">Log Out</span>
         </a></li>
      </ul>
   </div>
</div>
<div class="main-content">
   <header>
      <h2>
         <label for="nav-toggle">
            <span><mat-icon>view_headline</mat-icon></span>
         </label>
         Logout
      </h2>

      <div class="search">
         <span><mat-icon>search</mat-icon></span>
         <input type="search" placeholder="Search here"/>
      </div>
      <div class="user">
         <img src="../../../assets/images/profile1.jpg" width="50px" height="60px" alt="">
         <div>
            <h4>Yo Nigga</h4>
            <small>Student user</small>
         </div>
      </div>
   </header>
   <main>
 

   </main>
</div>
























<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" routerLink="/dashboard" class="" data-bs-dismiss="modal">No</button>
         <button type="button" routerLink="/login" class="btn btn-danger">Yes</button>
       </div>
     </div>
   </div>
   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
   Launch static backdrop modal
 </button>
 </div> -->


 
