<div class="container">
   <div class="row">
      <div class="column col-3">
       <img src="../../../assets/images/pic1.jpg" alt="" > 
      </div>
      <div class="column col-3">
         <img src="../../../assets/images/pic2.jpg" alt="">
      </div>
      <div class="column col-3">
         <img src="../../../assets/images/pic3.jpg" alt="">
      </div>
      <div class="column col-3">
         <img src="../../../assets/images/pic4.jpg" alt="">
      </div>
    </div>
    <div class="logo-container">
      <div class="image-container">
         <img src="../../../assets/images/badge3.png" alt="" width="150px" height="150px">
       </div>
       <div class="text">
         <div class="title"><p>Welcome to TOL University</p></div>
         <h4>...Fast Access to Courses</h4>
       </div>
    </div>
      <div class="next">
      <button routerLink="/signin"><h3>New Students</h3></button>
      <button routerLink="/login"><h3>Old Students</h3></button>
      </div>
</div>