<div class="container">
   <header>
     <div class="logo">
       <div><img src="../../../assets/images/badge3.png" /></div>   
     </div>
     <div class="integrated">
       <label class="title pt-5 text-white "> TOL UNIVERSITY </label>
       <div class="text-white fs-1 pt-2 pb-2 fw-bold"> Integrated </div>
       <div class="text-white fs-2 pt-2 pb-2 fw-bold"> e-Portal</div>
     </div>  
   </header>
   <div class="section m-5 pt-3">
     <h1>Login</h1>
     <form class="needs-validation p-3" novalidate>
      <div class="col-md-12">
         <label for="matric" class="form-label">Matric.no/JAMB.Reg</label>
         <input type="text" class="form-control input" name="matric" id="matric" minlength="10" [(ngModel)]="matricNum" required>
       </div>
       <div class="col-md-12">
         <label for="pwd" class="form-label">Password</label>
            <input type="password" class="form-control" name="pwd" id="pwd" [(ngModel)]="password" required>
            <div class="invalid-feedback">
            </div>
       </div>
       <div class="d-block">
         <div class="text-center">
            <a routerLink="/resetpassword">Forgot Password</a>
         </div>
       </div>
       <div class="col-md-12 p-3">
         <button class="btn btn-danger" type="button" (click)="validate($event)">Login</button>
      </div>
     </form>
</div>
</div>
